body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;
}
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
#main-header {
  background-color: aquamarine;
  color: tomato;
}

#navbar {
  background-image: url("https://img.freepik.com/premium-vector/abstract-dirty-blue-grunge-texture-splat-perfect-background_622308-58.jpg?w=2000");
  background-position: center;
  background-repeat: no-repeat;
}
#navbar ul {
  background-image: url("https://img.freepik.com/premium-vector/abstract-dirty-blue-grunge-texture-splat-perfect-background_622308-58.jpg?w=2000");
  position: absolute;
  list-style: none;

  left: 0;
}
#navbar li {
  display: inline;
}
#navbar a {
  margin: 0;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-right: 15px;
}
#showcase {
  background-image: url("https://img.freepik.com/free-photo/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg?w=2000");
  background-position: center right;
  min-height: 200px;
  text-align: center;
  margin-bottom: 30px;
}
#showcase h1 {
  font-size: 30px;
  line-height: 1.6em;
  padding-top: 30px;
  text-align: center;
}

#main {
  float: left;
  width: 70%;
  padding: 0 30px;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

#sidebar {
  float: right;
  width: 30%;
  background: #333;
  box-sizing: border-box;
  padding: 10px;
  margin-top: 40px;
}
#footer {
  background-color: rgb(29, 210, 159);
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}
@media (max-width: 600px) {
  #main {
    width: 100%;
    float: none;
  }
  #sidebar {
    width: 100%;
    float: none;
  }
}
